@tailwind base;
@tailwind components;
@tailwind utilities;

.glowy-spotlight-card {
  @apply relative flex items-center justify-center aspect-[4/3] bg-[hsl(0_0%_10%)] text-2xl font-bold text-white hover:[--active:1];

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at var(--x) var(--y), hsl(0 0% 100% / 0.5), transparent 15vmin),
      transparent;
    background-attachment: fixed;
    pointer-events: none;
    mask:
      linear-gradient(white, white) 50% 0 / 100% 4px no-repeat,
      linear-gradient(white, white) 50% 100% / 100% 4px no-repeat,
      linear-gradient(white, white) 0 50% / 4px 100% no-repeat,
      linear-gradient(white, white) 100% 50% / 4px 100% no-repeat;
  }
  &::after{
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at var(--x) var(--y), hsl(0 0% 100% / 0.15), transparent 15vmin);
    background-attachment: fixed;
    opacity: var(--active, 0);
    transition: opacity 0.2s;
    pointer-events: none;
  }
}